@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%
}


*::-webkit-scrollbar{
  background: transparent;
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #ffffff4d;
  border-radius: 10px;
}
